.cart-item {
  flex: 1;
  padding: 0 10px;
}

.cart-item__qty-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.cart-item__button {
  background: white;
  outline: none;
  border: 2px solid darkslateblue;
  border-radius: 50%;
}