@import "mixins";
@import "vars";

.cart-item {
  flex: 1;
  padding: 0 10px;
  margin: 0 0 $spacing-half;
  &:last-child {
    margin: 0;
  }
  @media (min-width: $breakpoint-desktop) {
    margin: 0;
  }
}

.cart-item__qty-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 150px;
}

.cart-item__button {
  background: darkslateblue;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  position: relative;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  &.-subtract {
    mask-image: url("../img/masks/remove-circle-outline.svg");
  }
  &.-add {
    mask-image: url("../img/masks/add-circle-outline.svg");
  }
  &:before {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include mixin-linear-gradient;
  }
  &:hover {
    cursor: pointer;
    &:before {
      display: block;
      animation: keyframes-linear-gradient 1s ease infinite;
    }
  }
}