@import "mixins";
@import "vars";

.cart {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1140px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  padding: $spacing-base;
}

.cart__title-wrapper {
  padding: 0 0 3px;
  margin: 0 0 $spacing-base;
  @include mixin-linear-gradient;
  animation: keyframes-linear-gradient 1s ease 1s;
}

.cart__title {
  display: flex;
  align-items: center;
  background-color: white;
  margin: 0;
  padding: 0 0 $spacing-half;
}

.cart__title-icon {
  margin: 0 0 0 10px;
}

.cart__items-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 -10px;
  @media (min-width: $breakpoint-desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.cart__total {
  margin: $spacing-base 0 0 auto;
}